<h1>Coupon Form</h1>
<%= form_tag create_coupon_path do %>
    <label>Code:</label><br>
    <%= text_field_tag :'coupon[coupon_code]' %><br>
    <label>Store:</label><br>
    <%= text_field_tag :'coupon[store]' %><br>
    <%= submit_tag "Submit Coupon" %>
<% end %>